[buildout]
parts =
     node
     rubygems
     node_modules
     bower_modules
     grunt_script
     bower_script
     yo_script

# A buildout local installation of node:
[node]
recipe = gp.recipe.node
version = 0.10.26
scripts =
    npm
    node
node-path =
    ${buildout:directory}/parts/

[rubygems]
recipe = rubygemsrecipe
gems =
    sass
#    compass==0.10
    compass

# installs the node modules specified in package.json:
[node_modules]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds =
    NODE_PATH="" PATH="${buildout:bin-directory}:$PATH" ${buildout:bin-directory}/npm install .
    echo "\nNodeJS modules updated."

[bower_modules]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds =
    NODE_PATH=${buildout:directory}/node_modules PATH="${buildout:bin-directory}:$PATH" ${buildout:directory}/node_modules/.bin/bower install
    echo "\nBower client-side modules updated.\n"

[grunt_script]
recipe = collective.recipe.template
input = inline:
    #! /bin/sh
    export PATH=${buildout:bin-directory}:$PATH
    export NODE_PATH=${buildout:directory}/node_modules
    ${buildout:directory}/node_modules/.bin/grunt $@
output = ${buildout:bin-directory}/grunt
mode = 755

[bower_script]
recipe = collective.recipe.template
input = inline:
    #! /bin/sh
    export PATH=${buildout:bin-directory}:$PATH
    export NODE_PATH=${buildout:directory}/node_modules
    ${buildout:directory}/node_modules/.bin/bower $@
output = ${buildout:bin-directory}/bower
mode = 755

[yo_script]
recipe = collective.recipe.template
input = inline:
    #! /bin/sh
    export PATH=${buildout:bin-directory}:$PATH
    export NODE_PATH=${buildout:directory}/node_modules
    ${buildout:directory}/node_modules/.bin/yo $@
output = ${buildout:bin-directory}/yo
mode = 755
