[buildout]
extends =
	base/base.cfg

index = http://zitelabpypi:LWzItelab@p26s@pypi.zitelab.eu/pypi
# More find links for internal pypi
find-links +=
	http://zitelabpypi:LWzItelab@p26s@pypi.zitelab.eu/pypi

# Enter project eggs here:
eggs +=
    plone.app.ldap
    requests
    xnat.proofofconcept


# Not externals: enter development eggs included in
# this repository here, as src/name.
develop =

# Externals: enter name of development eggs from other repositories
# here, and add to sources below as well. They will be added to
# mr-developer-src and be ignored in this git repository.
auto-checkout +=
    xnat.proofofconcept


[sources]
# put project specific sources here.
# Examples:
# collective.mypackage  = svn https://test.com/collective.mypackage/trunk/
# collective.mypackage  = svn https://test.com/collective.mypackage/trunk/@123
# Plone                   = git ${remotes:plone}/Plone.git branch=4.1
# Plone                   = git ${remotes:plone}/Plone.git rev=TAG
#
# Example with pushurl - needed to be able to check out read only by non-collective user
# collective.pfgpreview       = git ${remotes:collective}/collective.pfgpreview.git pushurl=${remotes:collective_push}/collective.pfgpreview.git

xnat.proofofconcept = git git@gitlab.zitelab.eu:sits/xnat.proofofconcept.git

[instance]

zcml +=

